
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #87CEEB;
    color: #333; 
}


#wrapper {
    width: 500px; 
    margin: 50px auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
}


#status {
    margin-bottom: 20px; 
}


#status img {
    border: none !important; 
    background: transparent; 
    max-width: 100%; 
}

/* Harflerin çıktığı kutucuklar (K _ R _ P) */
#inputs {
    margin: 20px 0; 
    text-align: center; 
}

#inputs input {
    width: 30px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: none;
    border-bottom: 3px solid #ff69b4; 
    background: transparent;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}


#buttons {
    margin-top: 20px;
    text-align: center;
}

#buttons button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #87CEEB; 
    border-radius: 5px;
    transition: 0.3s; 
}


#buttons button:hover {
    background-color: #87CEEB;
    color: white;
}


#buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


#results {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #d63384;
}